#visual{
    width: 100%;
    background-image: url(../images/intro_images/visual.jpg);
    background-position: center;
    background-size: cover;
    height: 300px;
    color:#fff;
    font-weight: 500;
    display: table;
}
#visual .table{
    display: table-cell;
    vertical-align:middle
}
#visual .tit{
    font-size: 4.5rem;
    font-weight: 500;
    margin-bottom: 24px;
}
#visual .tit_desc{
    font-size: 2.1rem;
    font-weight: 500;
    line-height: 1.4
}
#container .loacation{
    height: 56px;
    font-size: 1.5rem
}
#container .loacation .nav li{
    display: inline-block;
    line-height: 56px;
    background-image: url(../images/intro_images/location_arr.gif);
    background-repeat: no-repeat;
    background-position: center left;
    padding:0 14px;
}
#container .loacation .nav .home{
    vertical-align: middle;
    background-image: none;
    padding-left: 0;
    margin-top: -2px
}
#container .loacation .nav .program,
#container .loacation .nav .here{
    padding-left:23px
}
#container .loacation .nav .home img{
    display: block
}
#container .tab_list{
    font-size: 1.8rem;
    margin-top:52px;
    margin-bottom: 90px;
    font-weight: 600;
    color: #3b3b3b;
    height: 56px;
}
#container .tab_list li{
    float: left;
    cursor: pointer;
    width: 33.33%;
    box-sizing: border-box;
    border-bottom: 2px solid #c8c8c8;
    text-align: center;
    line-height: 56px;
}
#container .tab_list li:hover{
    color: #e2282b;
    border-bottom: 2px solid #e2282b
}
#container .tab_list li.on{
    color: #e2282b;
    border-bottom: 2px solid #e2282b
}
#container .tab_content .content{
    width: 100%;
    /*display: none;*/
    font-size: 1.6rem
}
#container .tab_content .content_intro{
    background-image: url(../images/intro_images/children01.jpg);
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: 30%
}
#container .tab_content .content_intro dl{
    margin-bottom: 60px;
    width: 69%
}
#container .tab_content .content_intro .desc4{
    margin-bottom:20px;
    width: 71%;
    padding-bottom: 80px;
}
#container .tab_content .content_intro dl dt{
    font-size: 2.2rem;
    font-weight: 600;
    margin-bottom: 23px
}
#container .tab_content .content_intro dl dd{
    line-height: 1.4
}

















/**********pc*********/
@media screen and (max-width: 1200px) {
    .wrapper{
        width: 96%;
        margin: 0 auto
    }
    #footer .bottom .logo{
        width: 100%
    }
}
@media screen and (max-width:1150px) and (min-width: 1023px) {
    #header .header_con .gnb_bar .gnb>ul .gnb_menu{
        margin-right: 25px;
    }
}

/************피시-테블렛************/
@media screen and (max-width: 1024px) {
    html{
        font-size:50%;
    }
    #header{
        height: 70px;
        width: 100%
    }
    #header .top_bar{
        display: none
    }
    #header .header_con .gnb_bar .gnb{
        display: none
    }
    #header .header_con .logo{
        padding: 15px 0;
    }
    #header .header_con .gnb_bar .gnb_btn{
        margin-top: 24px;
    }
    #container .tab_content{
        text-align: center;
    }
    #container .tab_list{
        margin-top:32px;
        margin-bottom: 70px;
        font-weight: 600;
        color: #3b3b3b;
        height: 56px;
    }
    #container .tab_content .content_intro dl{
        width: 100%;
        margin-bottom: 40px
    }
    #container .tab_content .content_intro .desc4{
        width: 100%;
        padding-bottom: 500px
    }
    #container .tab_content .content_intro{
        background-position: bottom;
        background-size: 300px
    }
    
    #footer .top .wrapper .logo{
        float: left;
        padding-top:16px;
        width:27%
    }
    #footer .top .wrapper .logo .logo1{
        margin-right: 7%;
        width: 46%
    }
    #footer .top .wrapper .logo .logo2{
        padding-top:10px;
        width: 46%
    }
    #footer .top .wrapper .logo li img{
        width: 100%
    }
    #footer .bottom .foot_desc{
        font-size: 1.5rem;
    }
    #footer .bottom .foot_desc li{
        line-height: 1.3;
    }
    #footer .bottom .foot_desc .information li{
        margin-bottom: 12px
    }
    #footer .bottom .foot_desc .information li{
        margin-bottom: 12px
    }
}
/*************테블렛-스마트폰*********/
@media screen and (max-width: 768px) {
    html{
        font-size: 48%;
    }
    #visual{
        height: 250px;
    }
    #footer .top{
        height: auto
    }
    #footer .top .wrapper .logo{
        display: none
    }
    #footer .top .wrapper .desc{
        float: left;
        font-size: 1.7rem;
        line-height: 1.5;
        padding: 15px 0
    }
}
/*********스마트폰*********/
@media screen and (max-width: 480px) {
    html{
        font-size: 43%;
    }
    #footer .sns{
        left: 0;
        top:210px;
        margin-bottom: 35px
    }
}
@media screen and (max-width:400px) {
    html{
        font-size: 43%;
    }
    #header .header_con .logo{
        width:60%;
        padding: 21px 0;
    }
    #header .header_con .logo img{
        width:100%;
        display: block
    }
    #visual .con .tit .main_tit img{
        width: 260px
    }
    #visual .con .tit .icon{
        right:-55px;top:-32px;
    }
    #visual .con .tit .icon img{
        width: 35%
    }
    #visual .con .date_list li{
        width:85%;
    }
    #visual .con .date_list li .date{
        width: 30px;
        height: 25px;
        line-height: 25px
    }
    #footer .sns{
        left: 0;
        top:210px;
        margin-bottom: 35px
    }
}

















